.header{
    height: 10%;
    text-align: center;
    background: #81b4aa;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-bottom: 10px;
}

.section1{
    height:fit-content;
    background: rgb(240, 240, 240);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.section2{
    height:fit-content;
    background: #e7f1ef;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.buttons { 
    float: right;
    margin-bottom: 10px;
} 
  
.buttons button {
    padding: 5px 10px;
    background-color: lightgray;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.buttons .submit:hover {
    background-color: darkgray;
    cursor: pointer;
} 
  
.buttons .clear:hover {background-color: #ccc;}

#startButton{
    visibility: hidden;
}

/*checkmark: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    background-color: white;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #81b4aa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}